<div id="main">
  <div class="preview" fixed-scroll>
    <div class="svg-wrapper" ng-if="((config.themes.length > 0 && theme) || !config.themes) && ((config.sizes.length > 0 && size) || !config.sizes)">
      <snap-svg svg-config="config.svg"></snap-svg>
      <button class="button-primary" ng-click="downloadSvg()"><i class="icon-download"></i> Download Image</button>
      <button class="button-reset button-danger" ng-click="resetSvg()"><i class="icon-rotate-left"></i> Reset</button>
    </div>

    <div class="content-form">
      <div class="panel" ng-show="config.sizes">
        <h3>Dimensions <small>Choose your image output size</small></h3>
        <select id="size" ng-model="size" ng-options="size.name for size in config.sizes" class="form-control" ng-hide="dimensions">
          <option value="">-- Choose size --</option>
        </select>
      </div>

      <div class="panel" ng-show="config.themes">
        <h3>Theme <small>Choose the look and feel</small></h3>
        <select id="theme" ng-model="theme" ng-options="theme.name for theme in config.themes" class="form-control" ng-hide="themes">
          <option value="">-- Choose theme --</option>
        </select>
      </div>

      <div class="panel">
        <h3>Scale ({{config.output.scale}}x) <small>Choose the scaled output size</small></h3>
        <input id="scale" type="range" max="3" min="1" step="1" ng-model="config.output.scale" ng-hide="scale" />
      </div>
    </div>
  </div>

  <div class="controls">
    <div class="content-form" ng-if="(config.themes.length > 0 && theme) || !config.themes">

      <div ng-repeat="(key, element) in config.svg.elements" ng-if="element.editable" class="panel">

        <h3 ng-click="element.collapsed = !element.collapsed">{{element.show}}<i class="icon-caret-right" ng-show="element.collapsed"></i><i class="icon-caret-down" ng-show="!element.collapsed"></i>{{element.name}}</h3>
        <div ng-if="element.type !== 'group'" ng-repeat="(type, field) in element.editable" ng-switch="type"
          ng-hide="element.collapsed">
          <!-- Text -->
          <text-editor ng-switch-when="text" element="element"></text-editor>

          <!-- Fill -->
          <fill-editor class="fill-editor" ng-switch-when="fill" element="element" field="field"></fill-editor>

          <!-- Color Swatches -->
          <color-swatches class="color-swatches" ng-switch-when="fill" element="element" field="field"></color-swatches>

          <!-- Font Size -->
          <fontsize-editor ng-switch-when="fontSize" element="element" field="field"></fontsize-editor>

          <!-- Font Weight -->
          <fontweight-editor ng-switch-when="fontWeight" element="element" field="field"></fontweight-editor>

          <!-- Font Family -->
          <fontfamily-editor ng-switch-when="fontFamily" element="element" field="field"></fontfamily-editor>

          <!-- Source -->
          <image-editor ng-switch-when="src" key="key" on-drop="onDrop" remove-image="removeImage"></image-editor>

          <!-- Width / Size -->
          <size-editor ng-switch-when="width" element="element"></size-editor>

          <!-- Text Anchor -->
          <textanchor-editor ng-switch-when="textAnchor" element="element"></textanchor-editor>

          <!-- Opacity -->
          <opacity-editor ng-switch-when="opacity" element="element"></opacity-editor>

          <!-- Filter -->
          <filter-editor ng-switch-when="filters" filters="element.editable.filters" element="element"></filter-editor>
        </div>

        <!-- Groups -->

      </div>
    </div>

  </div>
</div>
