<div id="main" class="pure-g">
  <div class="pure-u-1 pure-u-md-2-3 l-box">
    <snap-svg svg-config="config.svg"></snap-svg>
    <button class="button" ng-click="downloadSvg()">Download Image</button>
    <button class="button" ng-click="resetSvg()">Reset</button>

    <hr>

    <div class="panel" ng-show="config.sizes">
        <h3>Dimensions <small>Choose your image output size</small></h3>
        <select id="size" ng-model="size" ng-options="size.name for size in config.sizes" class="form-control" ng-hide="dimensions">
          <option value="">-- Choose size --</option>
        </select>
      </div>

      <div class="panel" ng-show="config.themes">
        <h3>Theme <small>Choose the look and feel</small></h3>
        <select id="theme" ng-model="theme" ng-options="theme.name for theme in config.themes" class="form-control" ng-hide="themes">
          <option value="">-- Choose theme --</option>
        </select>
      </div>

    <div class="panel">
      <h3>Scale ({{config.output.scale}}x) <small>Choose the scaled output size</small></h3>
      <input id="scale" type="range" max="3" min="1" step="1" ng-model="config.output.scale" ng-hide="scale" />
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-3 l-box">
    <div id="content-form" ng-if="(config.themes.length > 0 && theme) || !config.themes" class="pure-form pure-form-stacked">

      <div ng-repeat="(key, element) in config.svg.elements" ng-if="element.editable" class="panel">

        <h3>{{element.name}}</h3>
        <div ng-if="element.type !== 'group'" ng-repeat="(type, field) in element.editable" ng-switch="type" ng-hide="show[key]">
          <!-- Text -->
          <text-editor ng-switch-when="text" element="element"></text-editor>

          <!-- Fill -->
          <fill-editor ng-switch-when="fill" element="element" field="field"></fill-editor>

          <!-- Font Size -->
          <fontsize-editor ng-switch-when="fontSize" element="element" field="field"></fontsize-editor>

          <!-- Font Family -->
          <fontfamily-editor ng-switch-when="fontFamily" element="element" field="field"></fontfamily-editor>

          <!-- Source -->
          <image-editor ng-switch-when="src" key="key" on-drop="onDrop" remove-image="removeImage"></image-editor>

          <!-- Width / Size -->
          <size-editor ng-switch-when="width" element="element"></size-editor>

          <!-- Text Anchor -->
          <textanchor-editor ng-switch-when="textAnchor" element="element"></textanchor-editor>

          <!-- Opacity -->
          <opacity-editor ng-switch-when="opacity" element="element"></opacity-editor>

          <!-- Filter -->
          <filter-editor ng-switch-when="filters" filters="element.editable.filters" element="element"></filter-editor>
        </div>

        <!-- Groups -->
        <div ng-if="element.type === 'group' && element.elements[k].editable" ng-repeat="(k, e) in element.elements" ng-switch="e.editable" ng-hide="show[key]">
          <div ng-repeat="(t, f) in e.editable" ng-switch="t">
            <!-- Text -->
            <text-editor ng-switch-when="text" element="e"></text-editor>

            <!-- Fill -->
            <fill-editor ng-switch-when="fill" element="e" field="f"></fill-editor>

            <!-- Font Size -->
            <fontsize-editor ng-switch-when="fontSize" element="e" field="f"></fontsize-editor>

            <!-- Font Family -->
            <fontfamily-editor ng-switch-when="fontFamily" element="e" field="f"></fontfamily-editor>

            <!-- Width / Size -->
            <size-editor ng-switch-when="width" element="e"></size-editor>

            <!-- Text Anchor -->
            <textanchor-editor ng-switch-when="textAnchor" element="e"></textanchor-editor>

            <!-- Opacity -->
            <opacity-editor ng-switch-when="opacity" element="e"></opacity-editor>

            <!-- Filter -->
            <filter-editor ng-switch-when="filters" filters="e.editable.filters" element="e"></filter-editor>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
